@import "../../css-config/mixins.scss";

.sticky-proceed-global {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #AA2423;
  z-index: 9999;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90px;
  @include sm{
      flex-direction: column;
      height: 90px;
    }
    @include md{
      flex-direction: row;
      height: 60px;
    }
    @include lg{
      flex-direction: row;
      height: 60px;
    }
    @include xl{
      flex-direction: row;
      height: 60px;
    }
    @include xxl{
      flex-direction: row;
      height: 60px;
    }

  .producttxt{
    margin: 0 30px;
    color: #FFFFFF;
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 400;
    @include sm{
      font-size: 18px;
    }
    @include md{
      font-size: 20px;
    }
    @include lg{
      font-size: 21px;
    }
    @include xl{
      font-size: 24px;
    }
    @include xxl{
      font-size: 24px;
    }
  }

  .proceed-btn {
  // width: 100%;
    background: #E1AD3F; 
    color: #fff;
    padding: 7px 29px;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0px;
    
  }
}


