@import "../../css-config/mixins.scss";

.sticky-proceed-global {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #AA2423;
  z-index: 9999;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .producttxt{
    margin: 0 30px;
    color: #FFFFFF;
    font-family: "Barlow";
    font-size: 24px;
    font-weight: 400;
  }

  .proceed-btn {
  // width: 100%;
    background: #E1AD3F; 
    color: #fff;
    padding: 7px 29px;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0px;
  }
}


