@import "../../css-config/mixins.scss";
.products-wrapper{
  text-align: center;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
    color: #AA2423;
    font-size: 20px;
    line-height: 28px;
    font-family: "Barlow Condensed";

    @include md {
      font-size: 30px;
      line-height: 38px;
    }

    @include lg {
      font-size: 40px;
      line-height: 48px;
    }
  }

  .sub-heading {
    p {
      font-size: 18px;
      line-height: 18px;
      color: #707070;
      font-family: "Barlow Condensed";
      text-align: center;
      width: 100%;

      @include md {
        font-size: 20px;
        line-height: 20px;
        width: 95%;
      }

      @include lg {
        font-size: 24px;
        line-height: 28px;
        width: 75%;
      }
    }
  }

  .products-flex{
    display: flex;
  }
}
