@import "../../css-config/mixins.scss";

.product-section {
  .products-wrapper {
    text-align: center;
    margin-top: 50px;

    @include md {
      margin-top: 100px;
    }

    @include lg {
      margin-top: 150px;
    }

    h2 {
      text-align: center;
      margin-bottom: 2rem;
      font-weight: 500;
      color: #aa2423;
      font-size: 20px;
      line-height: 28px;
      font-family: "Barlow Condensed";

      @include md {
        font-size: 30px;
        line-height: 38px;
      }

      @include lg {
        font-size: 40px;
        line-height: 48px;
      }
    }

    .sub-heading p {
      font-size: 18px;
      line-height: 18px;
      color: #707070;
      font-family: "Barlow Condensed";
      width: 100%;

      @include md {
        font-size: 20px;
        line-height: 20px;
        width: 95%;
      }

      @include lg {
        font-size: 24px;
        line-height: 28px;
        width: 75%;
      }
    }

    /* ---------------- MOBILE SLIDER ---------------- */
    .mobile-slider {
      display: block;

      @include md {
        display: none;
      }
    }

    .slides-wrapper {
      display: flex;
      gap: 15px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 10px;
    }

    .slide-card {
      min-width: 50%;
      width: 270px;
      flex-shrink: 0;
      scroll-snap-align: center;
      @include md{
        min-width: 80%;
        width: 80%;
      }
    }

    /* ---------------- DESKTOP GRID ---------------- */
    .products-grid {
      display: none;

      @include md {
        display: grid;
        gap: 25px;
        margin-top: 25px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }

    /* ---------------- PRODUCT CARD ---------------- */
    .product-card {
      padding: 15px;
      border-radius: 12px;
      background: #fff;
      border: 1px solid #eee;
      text-align: center;
      transition: 0.3s ease;

      &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
      }

      .product-thumb img {
        width: 100%;
        border-radius: 12px;
        margin-bottom: 10px;
      }

      .product-details {
        text-align: left;

        .title {
          font-family: "Barlow Condensed";
          font-size: 30px;
          font-weight: 600;
          color: #aa2423;
          margin-bottom: 6px;
        }

        .sub-title {
          font-family: "Barlow Condensed";
          font-size: 18px;
          font-weight: 600;
          color: #000000cc;
        }

        .desc {
          font-size: 18px;
          color: #000000cc;
          min-height: 88px;
          font-family: "Barlow";
          font-weight: 400;
        }

        .mrp {
          font-family: "Barlow";
          font-size: 24px;
          margin: 8px 0;
          color: #000;
          font-weight: 400;
        }

        .variant-drop {
          width: 100%;
          padding: 6px;
          border: 1px solid #000;
          border-radius: 20px;
          margin: 8px 0;
          font-family: "Barlow Condensed";
        }

        .qty-box {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
          margin: 10px 0;

          .qty-btn {
            width: 30px;
            height: 30px;
            border: none;
            background: #aa2423;
            border-radius: 4px;
            font-size: 18px;
            color: white;
            cursor: pointer;
          }

          span {
            font-size: 18px;
            width: 20px;
            text-align: center;
          }
        }
      }

      .add-btn {
        width: 100%;
        background: #d23432;
        color: #fff;
        padding: 10px;
        border-radius: 20px;
        font-weight: bold;
        font-family: "Barlow Condensed";
        font-size: 16px;
        margin-top: 10px;
        cursor: pointer;
        border: none;
        transition: 0.3s;

        &:hover {
          background: #b82121;
        }
      }
    }
  }
}
