@import "../../css-config/mixins.scss";

.product-section{

  .products-wrapper{
    text-align: center;
    margin-top: 50px;

    @include md {
      margin-top: 100px;
    }

    @include lg {
      margin-top: 150px;
    }

    h2{
      font-weight: 500;
      color: #aa2423;
      font-size: 40px;
      line-height: 48px;
      font-family: "Barlow Condensed";
    }

    .sub-heading{
      width: 399px;
      @include md{
      width: 800px;
      }

      p{
        font-size: 24px;
        line-height: 28px;
        color: #707070;
        font-family: "Barlow Condensed";
        width: 100%;


      }
    }

  }


}
