@import "../../css-config/mixins.scss";
#AboutUs{
    padding: 150px 0;
    @include md {
      height: 50px; 
    }
    @include lg{
      height: 75px;
    }
    p{
        max-width: 900px;
    }
}