@import "../../css-config/mixins.scss";
#AboutUs{
    padding: 100px 0;
    @include md {
      padding: 50px 0; 
    }
    @include lg{
      padding: 75px 0;
    }
    .AboutUsHeading{
        color: #AA2423;
        font-family: "Barlow Condensed";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
    }
    h5{
        max-width: 900px;
        color:#707070;
        font-family: "Barlow";
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 40px;
    }
    p.subheading{
        font-family: "Barlow Condensed";
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
    }
}