@import "../../css-config/mixins.scss";
#AboutUs{
    padding: 100px 0;
    @include md {
      padding: 100px 0; 
    }
    @include lg{
      padding: 175px 0 100px;
    }
    .AboutUs{
        display: flex;
        flex-direction: column;
        align-items: center;
        .AboutUsHeading{
            color: #AA2423;
            font-family: "Barlow Condensed";
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            min-width: 300px;
            max-width: 674px;
            text-align: center;
            @include md{
                min-width: 400px;
                max-width: 674px;
            }
        }
        .pt-50{
            padding: 50px 0;
        }
        p{
            font-family: "Barlow Condensed";
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
        }
        h5{
            min-width: 300px;
            max-width: 900px;
            color:#707070;
            font-family: "Barlow";
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            @include md{
                min-width: 400px;
                max-width: 900px;
            }
        }
    }
    
}