@import "../../css-config/mixins.scss";
#AboutUs{
    padding: 100px 0;
    @include md {
      height: 50px; 
    }
    @include lg{
      height: 75px;
    }
    .AboutUsHeading{
        color: #AA2423;
        font-family: "Barlow Condensed";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
    }
    h6{
        max-width: 900px;
    }
}