@import "../../css-config/mixins.scss";

.VideoSection {
  min-height: 860px;
  background-color:#E1AD3F ;
  position: relative;
  // padding: 100px 0 0;
  // overflow: hidden; // ✅ ensures overlay doesn’t overflow outside
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: url("../../assets/video-bottom.png");
    background-size: 100% 100%;  /* ✅ stretch to cover full width */
    background-repeat: no-repeat;
    background-position: center bottom; /* ✅ keep aligned at bottom */
    z-index: 0; /* behind content */
    @include md {
      height: 350px; 
    }
    @include lg{
      height: 487px;
    }
  }

  .container {
    position: relative;
    z-index: 1; /* ✅ keeps text & video above overlay */
    .videoimg{
      .VideoSectionimg{
        position: relative;
        height: 100%;
        width: 100%;

        @include md{
          // min-width: 768px
          position: relative;
          height: 100%;
          width: 100%;
          top: 30px;
        }
        @include lg{
          // min-width: 1024px
          position: absolute;
          height: 817px;
          width: 455px;
          top: 60px;
          left: 125px;
        }
      }
    }
    .spacer {
      width: 100%;
      height: 60px; // adjust based on XD spacing
      @include lg{
        height: 150px;
      }
    }
    .videosectionheading{
        color: #FFFFFF;
        font-family: Barlow, Condensed SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
    }
    .videosectionpara{
         color: #FFFFFF;
        font-family: Barlow, Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
    }
  }
}
