@import "../../css-config/mixins.scss";

.VideoSection {
  background: url("../../assets/video-bottom.png") no-repeat center/cover, yellow; 

  // background-color: #E1AD3F;
  position: relative;
  padding: 100px 0 0;
  overflow: hidden; // ✅ ensures overlay doesn’t overflow outside
  min-height: 860px;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;   /* ✅ stick to bottom */
  //   left: 0;
  //   width: 100%; /* ✅ span full width */
  //   height: 150px; /* adjust depending on your overlay image height */
  //   background-image: url("../../assets/video-bottom.png");
  //   background-size: 100% 100%;  /* ✅ stretch to cover full width */
  //   background-repeat: no-repeat;
  //   background-position: center bottom; /* ✅ keep aligned at bottom */
  //   z-index: 0; /* behind content */
  //   // opacity: 1;

  //   @include md {
  //     height: 355px; /* taller for tablets */
  //   }
  // }

  .container {
    position: relative;
    z-index: 1; /* ✅ keeps text & video above overlay */
    .spacer {
      width: 100%;
      height: 60px; // adjust based on XD spacing
    }
    .videosectionheading{
        color: #FFFFFF;
        font-family: "Barlow", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
    }
    .videosectionpara{
         color: #FFFFFF;
        font-family: "Barlow", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
    }
  }
}
