@import "../../css-config/mixins.scss";
.container{max-width: 1200px;}
.home{
   margin-top: -110px;
   .spacer{
      height: 102px;
      background-image: url(../../assets/video-top.png);
      background-size: contain;
      @include md{
         height: 80px;
      }
   }
}