@import "../../css-config/mixins.scss";
.contact-section {
  padding: 60px 20px;
  background: #fff;
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: flex-start;
    
    @include md{
      // min-width: 768px
      gap: 100px;
      flex-wrap: wrap;
    }
    @include lg{
      // min-width: 1024px
      gap: 130px;
      flex-wrap: nowrap;
    }
    

    /* LEFT FORM */
    .contact-form-box {
      flex: 1 1 470px;

      .form-title {
        font-family: "Barlow Condensed";
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        color: #aa2423;
        margin-bottom: 10px;
  
      }

      .form-subtitle {
        font-family: "Barlow Condensed";
        font-size: 20px;
        line-height: 25px;
        font-weight: normal;
        color: #707070;
        margin-bottom: 40px;
        max-width: 470px;
        @include md{
          font-size: 22px;
          line-height: 25px;     
        }
        @include lg{
          font-size: 24px;
          line-height: 28px;    
        }
      }

      .contact-form {
        .form-group {
          position: relative;
          margin-bottom: 20px;

          input,textarea {
            width: 100%;
            border: none;
            border-bottom: 1px solid #707070;
            padding: 10px 5px;
            font-size: 16px;
            font-family: "Barlow Condensed";
            outline: none;
            background: transparent;
            color: #707070;
            @include md{
              width: 70%;
              font-size: 22px;
              line-height: 25px;     
            }
            @include lg{
              font-size: 24px;
              line-height: 28px;    
            }
          }

          input::placeholder,textarea::placeholder {
            color: #707070;
            @include md{
              width: 70%;
              font-size: 22px;
              line-height: 25px;     
            }
            @include lg{
              width: 75%;
              font-size: 24px;
              line-height: 28px;    
            }
          }

        }

        .radio-group {
          display: flex;
          align-items: center;
          gap: 25px;
          margin: 15px 0;

          label {
            display: flex;
            font-size: 20px;
            line-height: 20px; 
            color: #707070;
            @include md{
              font-size: 22px;
              line-height: 25px;     
            }
            @include lg{
              font-size: 24px;
              line-height: 28px;    
            }
          }

          input[type="radio"] {
            accent-color: #aa2423; // modern browsers support
            margin-right: 6px;
          }
        }
        .btn-container{
          display: flex;
          justify-content: flex-start;
          width: 90%;
          @include md{
            width: 70%;
            justify-content: flex-end;
          }
          .btn-submit {
            font-family: "Barlow Condensed";
            display: inline-block;
            background-color: #E1AD3F;
            color: #fff;
            border: none;
            padding: 6px 30px;
            border-radius: 20px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s ease;
            @include md{
              font-size: 22px;
              line-height: 25px;     
            }
            @include lg{
              font-size: 24px;
              line-height: 28px;    
            }

            &:hover {
            opacity: 0.9;
            }
          }
        }
        
      }
    }

    /* RIGHT INFO */
    .contact-info {
      flex: 1 1 470px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include sm{
        align-items: center;
      }
      @include md{
        align-items: flex-start;
      }
      @include lg{
        align-items: flex-start;
      }
      @include xl{
        align-items: flex-start;
      }
      @include xxl{
        align-items: flex-start;
      }

      .company-logo {
        max-width: 200px;
        margin-bottom: 20px;
        @include md{
        // min-width: 768px
          max-width: 225px;
        }
        @include lg{
        // min-width: 1024px
          max-width: 250px;
        }
      }

      .company-name {
        font-family: "Barlow Condensed";
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 28px;
        color: #aa2423;
        margin-bottom: 10px;
        @include md{
          line-height: 38px;     
        }
        @include lg{
          font-size: 40px;
          line-height: 48px;    
        }
      }

      .company-address {
        font-family: "Barlow Condensed";
        font-size: 24px;
        line-height: 25px;
        font-weight: normal;
        color: #707070;
        margin-bottom: 40px;
        max-width: 470px;
        text-align: center;
        @include md{
          font-size: 24px;
          line-height: 25px;  
          text-align: left;   
        }
        @include lg{
          font-size: 24px;
          line-height: 28px;  
          text-align: left;  
        }
      }
    }

  }

  
}

