@import "../../../css-config/mixins.scss";

.hero-banner {
     &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;  
            height: 250px;
            background-image: url("../../../assets/left.png");
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1; 
            @include sm{
                width: 200px;  
                height: 500px;
            }
            @include md{
                width: 250px;  
                height: 515px;
            }
            @include lg{
                width: 350px;
                height: 800px;
            }
            @include xl{
                width: 420px;
                height: 1000px;
            }
            @include xxl{
                width: 420px;
                height: 1000px;
            }
            
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;  
            height: 250px;
            background-image: url("../../../assets/right.png");
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;
            opacity: 0.5;
            @include sm{

            }
            @include md{
                width: 250px;  
                height: 515px;
                z-index: 1;
                opacity: 1;
            }
            @include lg{
                height: 1010px;
                width: 315px;
            }
            @include xl{
                height: 1010px;
                width: 315px;
            }
            @include xxl{
                height: 1010px;
                width: 315px;
            }
        }
        
    // height: 450px;
        
    .banner-box {
        padding: 100px 0px 100px 0;
        background-color: #E1AD3F;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        @include md{
            min-height:700px;
        }
        @include lg{
            // padding: 300px 0px 350px 0;
            margin-top: -250px;
            min-height: 942px;
        }
       
       
        .banner-heading {
            color: #FFFFFF;
            text-align: center;
            font-family: "Barlow Condensed";
            // line-height: 1.1;
            // letter-spacing: 0;
            // opacity: 1;
            @include md{
                font-size: clamp(40px, 6vw, 80px); // Responsive font
                font-weight: 500; // Medium weight

            }
            
        }
        .sub-heading{
            text-align: center;
            font-size: 20px;
            line-height: 26px;
            font-family: "Barlow Condensed";
            font-weight: 400; 
            color: #000000;
            @include lg{
                font-size: 30px;
                line-height: 36px;
            }
            

        }

       
    }
    .banner-box2 {
        // display: flex;

        display: none;
        justify-content: center;
        align-items: center;
        @include md{
            display: none;
            margin-top: -150px;
        }
        @include lg{
            display: flex;
            margin-top: -200px;
        }
        @include xl{
            display: flex;
            margin-top: -350px;
        }
        @include xxl{
            display: flex;
            margin-top: -350px;
        }

        .sec-2 img {
            // width: clamp(280px, 40vw, 800px);
            z-index: 2;
            position: relative;
            width: 280px;
                @include sm{
                    width: 300px;
                }
                @include md {
                    width: 500px;
                }
                @include lg {
                    width: 750px;
                }
                @include xl {
                    width: 800px;
                }
                @include xxl{
                    width: 800px;
                }
        }

        .sec-1, .sec-3 {
            position: relative;
            flex: 1;

            img {
                position: absolute;
                width: 100px;
                @include sm{
                    width: 125px;
                }
                @include md {
                    width: 150px;
                }
                @include lg {
                    width: 200px;
                }
                @include xl {
                    width: 215px;
                }
                @include xxl{
                    width: 300px;
                }
            }
        }

        // Left icons
        .sec1img{
            display: none;
            @include sm{
                display: none;
            }
            @include md{
                display: none;
                top: -250px;
                left: 100px;
            }

            @include lg{
                display: block;
                top: -270px;
                left: 140px;
            }
            @include xl{
                display: block;
                top: -275px;
                left: 190px;
            }
            @include xxl{
                display: block;
                top: -400px;
                left: 0;
            }
            
        }
        .sec11img { top: -50px; left: -100px; }
        .sec12img { top: 120px; left: -150px; }
        .sec13img { top: 320px; left: -100px; }

        // Right icons
        .sec3img{
            display: none;
            @include sm{
                display: none;
            }
            @include md{
                display: none;
                top: -300px; 
                right: 0;
            }
            @include lg{
                display: block;
                top: -400px; 
                right: 0;
            }
            @include xl{
                display: block;
                top: -275px;
                left: -75px;
            }
            @include xxl{
                display: block;
                top: -400px;
                left: 0;
            }
            
        }
        .sec31img { top: -50px; right: -100px; }
        .sec32img { top: 120px; right: -150px; }
        .sec33img { top: 320px; right: -100px; }
    }
    
    .banner-box3 {
        background-color: #E1AD3F;
        display: flex;
        @include md{
            display: none;
        }
        .sec-1 img{
            width: 195px;
            height: 195px;
        }
        .sec-2 .sec-3{
            display: flex;
            flex-direction: column;
            img{
                width: 70px;
                height: 70px;
            }
        }        
    }
}
