@import "../../../css-config/mixins.scss";

.hero-banner {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 50px;
     &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;  
            height: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1; 
            background-image: url("../../../assets/mobile-left.png"); 

            
            @include sm{
                width: 200px;  
                height: 500px;
                background-image: url("../../../assets/mobile-left.png"); 

            }
            @include md{
                
                width: 250px;  
                height: 515px;
                background-image: url("../../../assets/left.png"); 

            }
            @include lg{
                width: 350px;
                height: 800px;
            }
            @include xl{
                width: 420px;
                height: 1000px;
            }
            @include xxl{
                width: 420px;
                height: 1000px;
            }
            
        }
    &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;  
            height: 250px;
            background-image: url("../../../assets/mobile-right.png");
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;
            opacity: 0.5;
            @include sm{

            }
            @include md{
                width: 250px;  
                height: 515px;
                z-index: 1;
                opacity: 1;
                background-image: url("../../../assets/right.png");

            }
            @include lg{
                height: 1010px;
                width: 315px;
            }
            @include xl{
                height: 1010px;
                width: 315px;
            }
            @include xxl{
                height: 1010px;
                width: 315px;
            }
        }
        
    // height: 450px;
        
    .banner-box {
        padding: 100px 0px 50px 0;
        background-color: #E1AD3F;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        @include md{
            padding: 100px 0px 100px 0;
            min-height:700px;
        }
        @include lg{
            padding: 100px 0px 100px 0;
            margin-top: -250px;
            min-height: 942px;
        }
       
       
        .banner-heading {
            color: #FFFFFF;
            text-align: center;
            font-family: "Barlow Condensed";
            // line-height: 1.1;
            // letter-spacing: 0;
            // opacity: 1;
            font-size: 50px;
            @include md{
                font-size: 80px;
                font-weight: 500; // Medium weight

            }
            @include lg{
                font-size: 80px;
                padding: 50px 0 ;
            }
            
        }
        .sub-heading{
            text-align: center;
            font-size: 20px;
            line-height: 26px;
            font-family: "Barlow Condensed";
            font-weight: 400; 
            color: #000000;
            @include lg{
                font-size: 30px;
                line-height: 36px;
            }
            

        }

       
    }
    .banner-box2{
        display: none;
        @include md{
            display: flex;
            margin-top: -350px;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
    }
    
    .banner-box3 {
        background-color: #E1AD3F;
        display: flex;
        padding: 0px 0px 50px;
        margin-top: -1px;
        @include md{
            display: none;
        }
        .sec-1 {
            text-align: center;
            img{
            width: 195px;
            height: 195px;
            }
        }
        .sec-2, .sec-3{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:10px;
            img{
                width: 140px;
                height: 140px;
            }
        }        
    }
}
