@import "../../css-config/mixins.scss";


.navbar-brand {
  img{
    width: 85px;
    height: 85px;

       @include sm{
        // min-width: 640px
        width: 150px;
        height: 150px;
      }
      @include md{
        // min-width: 768px
        width: 200px;
        height: 200px;
      }
      @include lg{
        // min-width: 1024px
        width: 220px;
        height: 220px;
      }
      @include xl{
        // min-width: 1280px
        width: 220px;
        height: 220px;
      }
      @include xxl{
        // min-width: 1536px
        width: 220px;
        height: 220px;
      }
    
  }
  
}
.navbar {
  background-color: #E1AD3F;
  .navbar-nav{
    align-items: baseline;
    .nav-link{
      color: #fff;
      font-size: 20px;
      line-height: 22px;
      padding: 0.5em 1em;
      font-family: Barlow, Condensed Medium;
      @include md{
        font-size: 22px;
        line-height: 25px;
      }
      @include lg{
        font-size: 24px;
        line-height: 29px;
        height: 170px;
      }
    }
  }
  &.sticky-nav{
    position: sticky;
    background-color: #E1AD3F;
    top: 0;
    transform: translateY(-100px);
    animation: Stickey-nav 0.2s ease forwards;
    z-index: 5;
    img{
    width: 85px;
    height: 85px;
    @include md{
      width: 90px;
      width: 90px;
    }
    @include lg{
      height: 100px;
      width: 100px;
    }
  }
  }
}

@keyframes Stickey-nav {
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
  }
}

// @media screen and (min-width: 768px) {
//   // .navbar-brand img {
//   //   width: 100px;
//   // }
//   .navbar-brand {
//     margin-right: 0;
//     padding: 0 1em;
//   }
// }
