@import "../../css-config/mixins.scss";
      

footer {
    margin-bottom: 60px;
    p{
        // font: normal normal normal 24px/29px Barlow;
        margin-bottom: 0;
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        font-family: "Barlow Condensed";
        font-weight: 400; 
        color: #000000;
        padding: 50px 0;
        @include md{
            font-size: 24px;   
            line-height: 29px;  
            padding: 110px 0 40px;
        }
    }
    .footer {
        // background: #1A1E25;
        min-height: 141px;
        // color: #868c96;
        background-image: url(../../assets/footerbgmobile.png);
        background-position: bottom ;
        background-repeat: no-repeat;
        background-size: cover;
        // background: transparent url('img/Mask Group 13.png') 0% 0% no-repeat padding-box;
        @include md{
            background-image: url(../../assets/footer-bg.png);
            min-height: 191px;

        }
    }
}
