@font-face { 
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/BarlowCondensed.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('./assets/fonts/Barlow.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

body {
  margin: 0;
  
  
}

#root {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Barlow';
}
